<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="_content/Protobuf.Decode.Shared/app.css"/>
    <link rel="stylesheet" href="Protobuf.Decode.Web.styles.css"/>
    <HeadOutlet/>
</head>

<body>
<Routes @rendermode="InteractiveWebAssembly" />
<script src="_framework/blazor.webassembly.js"></script>
</body>

</html>